<!doctype html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(title, bodyClass, content)">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="_csrf" th:content="${_csrf == null ? '' : _csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf == null ? '' : _csrf.headerName}"/>

    <title th:text="${title}">Flower Care</title>
    <link rel="icon" type="image/png" th:href="@{/images/icon.png}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script th:src="@{/js/csrf.js}" defer></script>
    <script th:src="@{/js/csp-safe.js}" defer></script>
</head>
<body th:class="${bodyClass}">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container" th:if="${formSubmitError != null}">
    <div class="alert error u-mt-12" th:text="${formSubmitError}">
        Форма уже была отправлена.
    </div>
</div>

<div th:replace="${content}"></div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>